{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel = "stylesheet" href = "{% static 'css/quiz.css' %}">
	<title>Home</title>
</head>
<body>
	<a style = "display: block;text-align: right; color: #ddd; margin-right: 20%" href = "/admin"> Go to Admin </a>
	<div id = "container">
		<a class = "button" href = "/login"> Go to Quiz </a>
		<img src = "{% static 'img/frontimg.png' %}" style = "width: 98%;border: 8px solid #A3B00D;">
		<h2 style = "text-align: right; margin-right: 100px;"><u>Designed and Developed by </u><h1 style = "text-align: right;margin-right: 130px;color: #fff;"><a href = "https://www.facebook.com/sangit.niroula">Er. Dipak Niroula</a></h1></h2>
	</div>
</body>
</html>