{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<title>Quiz Application</title>
	<link rel = "stylesheet" href = "{% static 'css/quiz.css' %}">
	<script src = "{% static 'js/quiz.js' %}"></script>
</head>
<body>
	<div id = "container">
		<header>
			<a href="/" class = "button">Go Back</a> 
			<h1>Objective test Question</h1>
			<p> Test your knowledge in <strong>www.ecedreamer.com </strong></p>
		</header>

		<section>
			<div id = "results"></div>
			<form name = "quizForm" onsubmit = "return submitAnswers(answers = [{% for q in questions %}'{{ q.answer }}',{% endfor %}])">
			{% for q in questions %}
				<h3> {{ q.id }}.  {{ q.question }}</h3>
				<input type = "radio" name = "q{{ q.id }}" value = "a" id = "q1a">   a. {{ q.option1 }}<br><br>
				<input type = "radio" name = "q{{ q.id }}" value = "b" id = "q1b">   b. {{ q.option2 }}<br><br>       
				<input type = "radio" name = "q{{ q.id }}" value = "c" id = "q1c">   c. {{ q.option3 }}<br><br>
				<input type = "radio" name = "q{{ q.id }}" value = "d" id = "q1d">   d. {{ q.option4 }}<br><br>

			
			{% endfor %}

				<br><br>
				<input type = "submit" value = "Submit Answer">
			</form>
			<br><br>
		<a href="/questions" class="button">Reset</a>
		</section>
		<footer>
			<p>Copyright &copy;2017, Allright Reserverd</p>
		</footer>
	</div>

</body>
</html>